@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Kufi+Arabic:wght@100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&family=Rubik:ital,wght@0,300..900;1,300..900&family=Sen:wght@400..800&family=Tajawal:wght@200;300;400;500;700;800;900&family=Ubuntu+Condensed&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Arimo", sans-serif;
}
body {
  background-color: rgb(245, 245, 244);
}
.navbar {
  padding: 0;
  position: relative;
  z-index: 1;
}
.navbar-toggler {
  background-color: rgb(254, 161, 22);
}
.nav-item {
  margin-right: 0.7rem;
  font-weight: bold;
}

.nav-item .nav-link {
  color: white;
}
.nav-item .active {
  color: rgb(254, 161, 22) !important;
  font-weight: bold;
}
.btn-Booking {
  background-color: rgb(254, 161, 22);
  color: white;
}
.nav-container {
  background-color: rgb(15, 23, 43);
  color: rgb(254, 161, 22);
}

.nav-container .navbar-brand {
  color: rgb(254, 161, 22);
  font-weight: bold;
  font-size: 1.8em;
}
.main-row {
  height: 110vh;
}
.main-head {
  height: 110vh;
  background-image: url("./images/bg-hero.jpg");
  background-size: 100% 100%;
  background-position: center;
  z-index: 0;
  position: relative;
}
.main-Title {
  color: white; /* Example styling */
  font-size: 2.9em;
}
/* .first-col {
  height: 60vh;
} */
.first-col .main-description {
  color: white;
  text-align: justify;
}
@media only screen and (max-width: 600px) {
  .main-img {
    width: 20rem;
    height: 20rem;
  }
}
@media only screen and (min-width: 601px) {
  .main-img {
    width: 30rem;
    height: 30rem;
  }
}
.hero-section {
  height: 100vh;
}
/* Cards Section */

@media only screen and (max-width: 600px) {
  .card-details {
    height: 40vh;
    width: auto;
  }
}
@media only screen and (min-width: 601px) {
  .card-details {
    height: 50vh;
    width: 17vw;
  }
}

.card-title {
  font-weight: bold;
}

/* Third Section */
.about-img {
  width: 4rem;
  height: 3rem;
  vertical-align: middle;
}
.about-title {
  font-size: 2em;
  text-align: center;
  font-weight: bold;
}
.reduce-line-height {
  line-height: 0.2rem;
  letter-spacing: 0.1em;
}
.totals {
  height: 10vh;
}
.vertical-line {
  border-left: 7px solid rgb(254, 161, 22);
  height: 10vh;
  margin: 0;
}
.vertical-line2 {
  border-left: 7px solid rgb(254, 161, 22);
  height: 10vh;
}
.totals-section .num {
  font-size: 2.5em;
  color: rgb(254, 161, 22);
  font-weight: bold;
}

/* @media only screen and (max-width: 600px) {
  
} */
@media only screen and (min-width: 601px) {
  .about-container {
    height: 90vh;
  }
}
